* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #121212;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  width: 400px;
  padding: 20px;
  background-color: #1e1e1e;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(red, green, blue, alpha);
}

h1,
h2,
h3 {
  text-align: center;
  margin-bottom: 20px;
}

form {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

input[type="text"],
input[type="number"] {
  width: 45%;
  padding: 10px;
  background-color: #333;
  border: none;
  border-radius: 5px;
  color: #fff;
  outline: none;
  margin: 2px;
}

button {
  padding: 5px;
  background-color: #6200ea;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  transition: cubic-bezier(1, 0, 0, 1);
}

button:hover {
  background-color: #3700b3;
}

#expense-list {
  list-style-type: none;
  padding: 0;
}

#expense-list li {
  background-color: #333;
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
}
#total {
  text-align: right;
}

.hidden {
  display: none;
}
.delete-btn {
  background-color: #e53935; /* red tone */
  padding: 5px 10px;
  font-size: 0.9rem;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.delete-btn:hover {
  background-color: #b71c1c;
}
